
.animals>div>img {
    height: 77%;
    width: 100%;
    object-fit: cover;
}

.animal-description-preview{
    visibility: hidden;
    position: absolute;
    height: 77%;
    opacity: 0.75;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding-left: 0.8em;
    padding-right: 0.8em;
    box-sizing: border-box;
    color: #BFD3D3;
    background-color: #697C46;
    font: normal normal 600 2.3vh Segoe UI;
    font-size:calc(14px + 0.25vw);
}

.animal-description-preview > p {
    width: 100%;
    height: 100%;
}

.animal-item:hover .animal-description-preview {
    visibility: visible;
}


.animal-item-content{
    padding-bottom: 0.3em;
    height: 23%;
    color: #BFD3D3;
    display: flex;
    flex-direction: column;
    background-color: #697C46;
    padding-left: 0.8em;
    padding-right: 0.8em;
}

.animal-description{
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animals>div {
    height: 407px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.animals{
    padding: 0 5em 5em 5em;
    height: 93%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
    overflow: auto;
}

.animals-logout-container, .logout-container {
    height: 100%;
    width: 30%;
    display: flex;
    padding-right: 1em;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

#animals-filters-header{
    padding-bottom: 1em;
    margin: 2em 5em 0 4em;
    height: 7%;
    min-height: 40px;
    display: flex;
    align-items: center;
}

#sort-container{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 1.2em;
    font: normal normal 600 2.3vh Segoe UI;
    font-size:calc(12px + 0.25vw);
    color: #26250F;
}

.sort-options-container > div {
    display: flex;
    padding: 0.2em 1em 0.2em 1em;
    margin: 0.4em;
    align-items: center;
    justify-content: center;
}

#sort-container > p {
    margin-right: 0.4em;
}

.animals-search-bar{
    width: 100%;
    height: 100%;
    background: #FFFFFFE6 0 0 no-repeat padding-box;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left:1em;
    box-shadow: 0 3px 6px #00000029;
}

.animals-sort-option-selected{
    background-color: #8C9494;
    color: #FFFFFFE6;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    width: auto;
    height: auto;
}

.animals-sort-option{
    user-select: none;
    cursor: pointer;
}

.animal-info-row{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.animal-info-row > p{
    font: normal normal 600 2.3vh Segoe UI;
    font-size:calc(14px + 0.25vw);
    overflow: hidden;
    width: 50%;
}

.animals-sort-option:hover{
    background-color: rgba(140, 148, 148, 0.14);
    border-radius: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.sort-options-container{
    display: flex;
}

#animals-search-bar-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 37%;
}

#animals-markers-switch-container{
    visibility: hidden;
}

@media screen and (max-width: 1350px) {

    .animals {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (max-width: 1100px) {

    .animals {
        grid-template-columns: repeat(2, 1fr);
    }

    #filter-markers-switch-container > p{
        display: none;
    }

}

@media screen and (max-width: 1004px) {

    .sort-options-container{
        flex-direction: column;
    }

    .sort-options-container > div{
        margin: 0.2em 0 0 0;
    }

    #animals-filters-header{
        padding-bottom: 2em;
    }

}

@media screen and (max-width: 704px) {
    .animals {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-device-width: 414px),
screen and (max-width: 414px){

    #sort-container{
        width: 100%;
        height: 50%;
        justify-content: space-evenly;
        margin-bottom: 0.3em;
    }

    #sort-container > p{
        margin-right: 0;
    }

    #animals-search-bar-container{
        width: 90vw;
    }

    .sort-options-container{
        flex-direction: row;
    }

    .animals-logout-container{
        display: none;
    }

    #animals-filters-header{
        padding-bottom: 0.8em;
        padding-top: 0.3em;
        flex-direction: column;
        margin: 0;
        height: 15%;
    }

    .animals{
        height: 85%;
        padding: 0 2em 2em 2em;
    }

    .sort-options-container > div {
        margin-left: 0.2em;
        margin-right: 0.2em;
        padding-bottom: 0.3em;
        padding-top: 0.3em;
    }

    #animals-search-bar-container{
        height: 50%;
    }

    #animals-markers-switch-container{
        visibility: visible;
    }

}


