body{
    margin: 0;
    overflow: hidden;
}

.logo{
    height: 50px;
    position:fixed;
	top:0; 
	left:0; 
    margin: 3.5em 0 0 5em;
    opacity: 0.9;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.login-container{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    width: 30vw;
    height: 61vh;
    background: #FFFFFFE6 0 0 no-repeat padding-box;
    box-shadow: 0 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 20px;
    opacity: 1;
    align-items: center;
}

.login-container > p{
    font: normal normal 600 2vh Segoe UI;
    color: #26250F;
    margin-bottom: 2em;
}

.login-container > a{
    font: normal normal 600 2vh Segoe UI;
}

button:disabled,
button[disabled]{
    background: #666666 0 0 no-repeat padding-box;
    color: #FFFFFFE6;
    cursor: auto;
}

.login-form{
    padding-top: 1em;
    width: 85%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.login-form > input{
    padding: 0.2em;
    width: 96%;
    border: 0;
    outline: 0;
    background: transparent;
    color: #26250F;
    border-bottom: 1px solid #707070;
    font: normal normal 600 2.4vh Segoe UI;
}

.login-label{
    display: flex;
    height: 29%;
    justify-content: center;
    align-items: center;
    font: normal normal 600 2.3vh Segoe UI;
    letter-spacing: 0;
    color: #26250F;
    opacity: 1;
}

.submit-button{
    height:23%;
    width: 100%;
    background: #26250F 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 36px;
    opacity: 1;
    text-align: center;
    font: normal normal 600 2.3vh Segoe UI;
    letter-spacing: 0;
    cursor: pointer;
    color: #FFFFFF;
}

.login-base-container{
    display: flex;
    align-items: center;
    min-height: 700px;
    justify-content: center;
    background-image: url('../img/upload/login-background.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.home-base-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#main-header{
    height: 7%;
    min-height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #122C06;
}

.markers-switch-container > p{
    font: normal normal 600 2.4vh Segoe UI;
    font-size:calc(12px + 0.25vw);
    letter-spacing: 0;
    color: #FFFFFFE6;
    margin-right: 1em;
}

.markers-switch-container{
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2em;
}

.logout-container {
    height: 100%;
    width: 30%;
    display: flex;
    padding-right: 1em;
    justify-content: flex-end;
    align-items: center;
    color: white;
}

#logo-container > img{
    cursor: pointer;
    height: 60%;
    padding-left: 1em;
}

#logo-container{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
}

#search-bar-container{
    display: flex;
    align-items: center;
    height: 100%;
    width: 37%;
}

.search-bar{
    width: 100%;
    height: 78%;
    background: #FFFFFFE6 0 0 no-repeat padding-box;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left:1em;
}

.search-bar > i, .animals-search-bar > i{
    color:#26250F;
}

.search-bar > input, .animals-search-bar > input{
    flex: 1;
    height: 90%;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    min-font-size: 80px;
    font: normal normal 600 2.4vh Segoe UI;
    font-size:calc(12px + 0.25vw);
    padding-left: 1em;
}

#map{
    height: 93%;
}

.indicative-marker {
    background-image: url('../img/marker-indicative-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.exact-marker {
    background-image: url('../img/marker-exact-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.markers-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.markers-switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 6px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #BFD3D3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #BFD3D3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#animal-preview-container{
    position: relative;
    height: 93vh;
    width: 100vw;
    overflow: auto;
    overflow-x: hidden;
}

#add-animal-form{
    height: 100%;
    width: 100%;
}

.animal-photo-container{
    height: 65vh;
    width: 100%;
    min-height: 300px;
    background-color: #26250F;
    padding: 3em 0 3em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animal-photo-container > img{
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.animal-options-container{
    width: 100%;
    padding: 1.5em 0 2em 0;
    display: flex;
    justify-content: center;
}

#drop-container{
    height: 100%;
    width: 60%;
    background-color: #BFD3D3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drop-container > p{
    font: normal normal 600 25px/33px Segoe UI;
    letter-spacing: 0px;
    color: #8C9494;
    opacity: 1;
}

#drop-container > i{
    color: #8C9494 ;
}

#file-input{
    display: none;
}

#file-input-label{
    height:25px;
    width: 286px;
    background: #8C9494 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 25px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6em;
    overflow: hidden;
    font: normal normal 600 16px/21px Segoe UI;
    letter-spacing: 0;
    color: #FFFFFF;
}

.animal-options{
    width: 30vw;
    min-width: 400px;
}

.options-circle {
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    margin: 0 1em 0 1em;
    display: flex;
    min-width: 50px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circles{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#show-on-map-button{
    background-color: #697C46;
}

#edit-button{
    background-color: #BFD3D3;
}

#delete-button{
    background-color: #CE4D4D;
}

#accept-button{
    background-color: #697C46;
    width: 4vw;
    height: 4vw;
    border: none;
}

#decline-button{
    background-color: #CE4D4D;
    width: 4vw;
    height: 4vw;
}

#animals-list-button{
    background-color: #8C9494;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0 3em 3em 0;
    cursor: pointer;
}

#close-preview-button{
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    margin: 1em 1em 0 0;
}

#close-preview-button > i{
    color: rgba(255,255,255,0.3);
    cursor: pointer;
}

#animals-list-button > i{
    color: #26250F;
}

.options-circle > i{
    color: #FFFFFFE6;
}

.animal-info-title{
    margin: 0;
    font: normal normal bold 2.4vh Segoe UI;
    font-size:calc(14px + 0.25vw);
    color: #122C06;
}

.animal-info{
    margin: 0.3em 0 0 0;
    font: normal normal 600 2.4vh Segoe UI;
    font-size:calc(11px + 0.25vw);
    color: #26250F;
    text-align: center;
}

.animal-info-container {
    padding-bottom: 1em;
}

.animal-form-inputs-container{
    padding-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.animal-info-container > div {
    margin-top: 1em;
    word-wrap:break-word;
}

.add-marker-button{
    width: 90%;
    padding: 0.2em 0 0.2em 0;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 36px;
    opacity: 1;
    text-align: center;
    font: normal normal 600 2.3vh Segoe UI;
    letter-spacing: 0;
    color: #FFFFFF;
    cursor: pointer;
}

#add-indicative-marker-button{
    background: #BFD3D3 0 0 no-repeat padding-box;
    margin-top: 0.2em;
    color: #26250F;
}

#add-exact-marker-button{
    background: #697C46 0 0 no-repeat padding-box;
    margin-top: 0.5em;
}

.animal-form-inputs-container input, textarea{
    width: 100%;
    margin: 0.3em 0 0 0;
    font: normal normal 600 2.4vh Segoe UI;
    font-size:calc(11px + 0.25vw);
    color: #26250F;
    border: 2px solid #697C46;
    border-radius: 25px;
    padding: 0.5em;
    opacity: 1;
}

.animal-form-inputs-container > div {
    margin-top: 0.2em
}

.messages{
    margin: 1em 0 1em 0;
    text-align: center;
    color:red;
}

.mapboxgl-popup-content {
    border-radius: 15px !important;
    text-align: center;
    font: normal normal bold 15px/22px Segoe UI;
    letter-spacing: 0;
    padding: 0;
    color: #26250F;
    opacity: 1;
}

.mapboxgl-popup-content > img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.show-animal-details{
    width: 169px;
    height: 30px;
    background: #26250F 0 0 no-repeat padding-box;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 36px;
    opacity: 1;
    font: normal normal 600 12px/16px Segoe UI;
    letter-spacing: 0;
    color: #FFFFFF;
    cursor: pointer;
}

#spinner:not([hidden]) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#spinner::after {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top: 3px solid #697C46;
    border-radius: 100%;
    will-change: transform;
    animation: spin 1s infinite linear
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (max-device-width: 414px),
screen and (max-width: 414px){

    .login-base-container{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .logo{
        height: 15vw;
        position: static; 
        margin: 0;
        opacity: 0.9;
    }

    #search-bar-container{
        position: absolute;
        left: 0;
        margin-left: 4%;
        margin-right: auto;
        margin-top: 30%;
        z-index: 2;
        width: 78%;
        height: 8%;
    }

    .animal-options{
        width: 90%;
        min-width: 5px;
    }

    #animals-list-button{
        margin: 0 2em 2em 0;
    }

    .animal-photo-container > img{
        height: auto;
    }
}

@media screen and (max-width: 760px) {
    .markers-switch-container > p{
        display: none;
    }

    #drop-container > p{
        font: normal normal 600 15px/23px Segoe UI;
    }

    #file-input-label{
        height:15px;
        width: 186px;
        font: normal normal 600 10px/15px Segoe UI;
    }
}
